body {
  font-family: 'Segoe UI', sans-serif;
  background: #3a533c;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 500px;
  background: rgb(209, 226, 212);
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1, h2 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
}

input, select, button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #45a049;
}
#endVotingBtn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #c0392b;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#endVotingBtn:hover {
  background-color: #a93226;
}

.result-section {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  background: #e0f7fa;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
}
